.DS_Store
.atom/
.idea
.vscode/
.packages
.pub/
build/
lib/mobile/channel_preview.dart
ios/.generated/
ios/Runner/AppDelegate.swift
ios/Runner/Runner-Bridging-Header.h
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Debug.xcconfig
ios/Flutter/Release.xcconfig
ios/Podfile
packages
.flutter-plugins

android/key.properties
.metadata
*.iml
pubspec.lock

ios/Runner.xcodeproj/project.pbxproj
ios/Runner.xcworkspace/contents.xcworkspacedata
ios/.symlinks/
ios/Podfile.lock
ios/Runner.xcworkspace/xcshareddata/
ios/File.swift
ios/Runner-Bridging-Header.h

#other
.flutter-plugins-dependencies
.dart_tool
